body {
  font-family: 'Pacifico', cursive;
  background-color: #f9f9f9;
  text-align: center; 
  margin: 0;
  padding: 20px;
}
h1, h2 {
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 15px;
}
input {
  padding: 8px 12px;
  border: 2px solid #007bff;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}
#original, #resultado {
  margin: 20px auto;       
  padding: 15px;
  border: 2px solid rgb(0, 17, 253);
  border-radius: 10px;
  width: 60%;             
  max-width: 500px;      
  background-color: #ffffff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  font-size: 18px;
}
